

h1{
    background-color: blanchedalmond;
    color: black;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}

.radial-gradient{
    background-image: radial-gradient(rgb(11, 237, 79) 40%,yellow 70%,cyan 15%);
    height: 200px;
    width: 200px;
}

.conic-gradient{
    margin: 40px;
    height: 200px;
    width: 200px;
    background-image: conic-gradient(red 45deg,yellow 90deg, gold 210deg);
    border-radius: 50%;
    overflow:hidden;
}